*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1300px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.title{
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.last-img{
    width: 1080px;
}

.photo-gallery{
    display: flex;
    gap: 20px;
}